input {
  jira {
    schedule => { in => "1st" }
    hostname => "{{jira.url}}"
    token => "{{jira.creds}}"
  }
}

filter {
  date {
    match => [ "[fields][created]", "ISO8601" ]
  }
}

output {
  elasticsearch {
    index => "%{[@metadata][index]}"
    document_id => "%{[@metadata][id]}"
    hosts => ["{{elasticsearch.host}}:{{elasticsearch.port}}"] }
  stdout { codec => rubydebug }
}
